#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

#back-to-top.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

#back-to-top:hover {
  transform: translateY(-3px);
  background-color: var(--secondary-color);
}

#back-to-top i {
  color: white;
  font-size: 1.2rem;
} 